@import "styles/variaveis";
@import "styles/breakpoints";

.buscador {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-color: #3D1A1D;
    display: flex;
    gap: 18px;
    height: 42px;
    justify-content: space-between;
    padding: 0 15px;
    width: 523px;
    opacity: 0.9;
    @media (max-width: 768) {
      width: 100%;
    }
    input {
        background-color: white;
        // opacity: 0.3;
        border: none;
        font-size: 1.0rem;
        font-weight: bold;
        color: #3D1A1D;
        outline: none;
        width: 100%;
        &::placeholder {
          color: $corPadraoTexto;
        }
      }
}