@import 'styles/variaveis';

  .camposLogin{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-color: #3D1A1D;
    display: flex;
    gap: 18px;
    height: 42px;
    // justify-content: space-between;
    padding: 0 15px;
    width: 100%;
    opacity: 0.9;
    @media (max-width: 768) {
      width: 100%;
    }
    input {
        background-color: white;
        // opacity: 0.3;
        border: none;
        font-size: 10px;
        font-weight: bold;
        outline: none;
        // width: 100%;
        &::placeholder {
          color: $corPadraoTexto;
        }
      }
  }