@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

body {
  background-color: #EDE2E3;
}

* {
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
}

.corTextoPadrao{
  color: #3D1A1D;
}

.fundoBase{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}
